{{ define "main" }}
<div id="main-wrapper">
{{- partial "breadcrumb.html" . -}}
<div id="main">

<h1>{{ .Title }}</h1>

<div class="node">

<div class="content">
{{ if .Content }}{{ .Content }}{{ end }}

{{ if .Pages }}
    {{- $blogPages := where .Site.Pages "Type" "blog" -}}
    <div class="item-list">
    <ul>

    {{ range sort .Pages "File.Path" }}
      {{- $archYear := (replaceRE "^\\w+, " "" .Title) -}}
      {{- $archMonth := (replaceRE ", \\d+$" "" .Title) -}}
      {{- $blogPagesForMonth := slice -}}
      {{- range $blogPages.ByDate -}}
        {{- if and (eq (.Date.Format "2006") $archYear) (eq (.Date.Format "January") $archMonth) -}}
          {{- $blogPagesForMonth = $blogPagesForMonth | append . -}}
        {{- end -}}
      {{- end -}}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a> ({{ $blogPagesForMonth | len }})</li>
    {{ end }}

    </ul>
    </div><!-- /.item-list -->
{{ else }}
    <p><em>No pages found.</em></p>
{{ end }}
</div><!-- /.content -->

</div><!-- /.node -->

</div><!-- /#main -->
</div><!-- /#main-wrapper -->
{{ end }}
