{{ define "main" }}
<div id="main-wrapper">
{{- partial "breadcrumb.html" . -}}
<div id="main">

<h1>{{ .Title }}</h1>

<div class="node">

<div class="content">
{{ if .Content }}{{ .Content }}{{ end }}

{{ if .Pages }}
    {{ range (.Paginate .Pages.Reverse).Pages }}
      {{ partial "galleryphoto.html" (dict "photo" . "galleryphotosbaseurl" $.Site.Params.galleryphotosbaseurl) }}
    {{ end }}

    {{ partial "pagination.html" . }}
{{ else }}
    <p><em>No photos found.</em></p>
{{ end }}
</div><!-- /.content -->

</div><!-- /.node -->

</div><!-- /#main -->
</div><!-- /#main-wrapper -->
{{ end }}
