<div class="node">
  <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  <div class="submitted">{{ .Date.Format "Monday" }}, {{ .Date.Format "2" }}{{ if in (slice 1 21 31) .Date.Day}}st{{ else if in (slice 2 22) .Date.Day}}nd{{ else if in (slice 3 23) .Date.Day}}rd{{ else }}th{{ end }} {{ .Date.Format "Jan 2006" }}.</div>
  <div class="content">
  {{ .Params.summary | safeHTML }}

  {{ if or .Params.tags .Params.locations }}
    {{- partial "blog_locations_tags.html" . -}}
  {{ end }}

  <div class="links">
    <a href="{{ .RelPermalink }}" title="Read the rest of this posting." class="read-more">read more</a>

    {{- if .Params.comments -}}
      {{- $numComments := .Params.comments | len -}}
      &#149; <a href="{{ .RelPermalink }}#comment" title="Jump to the first comment of this posting.">{{ $numComments }} comment{{ if gt $numComments 1 }}s{{ end }}</a>
    {{- end -}}
  </div><!-- /.links -->
  </div><!-- /.content -->
</div><!-- /.node -->
