  <title>{{ if eq .Title "404 Page not found" }}Page not found{{ else }}{{ .Title }}{{ end }}{{ if not (eq .Title .Site.Title) }} - {{ .Site.Title }}{{ end }}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="imagetoolbar" content="false" />

  <meta name="keywords" content="world trip, backpacking, jaza, travel, travel blog, south america" />

  <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />

  <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="/css/print.css" type="text/css" media="print" charset="utf-8" />

  <script type="text/javascript" src="/js/modernizr-custom.js"></script>
  <script type="text/javascript" src="/js/respond.js"></script>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery-ui.min.js"></script>

  <script type="text/javascript" src="/js/site.js"></script>
