{{ define "main" }}

{{ if .Content }}
<div id="front-blog">
  <div id="breadcrumb-wrap1"><div id="breadcrumb-wrap2"><div id="breadcrumb-wrap3"><div id="breadcrumb-wrap4"><div id="front-blog-title"><h2 class="front-section-title"><a href="/blog/" title="Browse all blog entries">Blog</a></h2></div></div></div></div></div>

  <div class="front-section-content">
{{ .Content }}
  </div>

  <div id="front-blog-bottom"></div>
</div><!-- /#front-blog -->
{{ end }}

{{ if .Params.frontLocationContent }}
<div id="front-location" class="front-section">
  <div id="front-location-title-wrap1"><div id="front-location-title-wrap2"><div id="front-location-title-wrap3"><div id="front-location-title-wrap4"><div id="front-location-title"><h2 class="front-section-title"><a href="/locations/" title="Browse all locations">Locations</a></h2></div></div></div></div></div>

  <div class="front-section-content">
{{ .Params.frontLocationContent | safeHTML }}
  </div>

  <div class="front-section-bottom"></div>
</div><!-- /#front-location -->
{{ end }}

{{ if .Params.frontConsumptionContent }}
<div id="front-consumption" class="front-section">
  <div id="front-consumption-title-wrap1"><div id="front-consumption-title-wrap2"><div id="front-consumption-title-wrap3"><div id="front-consumption-title-wrap4"><div id="front-consumption-title"><h2 class="front-section-title"><a href="/tags/crazy-consumptions/" title="Browse all crazy consumptions">Crazy consumptions</a></h2></div></div></div></div></div>

  <div class="front-section-content">
{{ .Params.frontConsumptionContent | safeHTML }}
  </div>

  <div class="front-section-bottom"></div>
</div><!-- /#front-consumption -->
{{ end }}

{{ if or .Params.frontLocationContent .Params.frontConsumptionContent }}
<div class="clear clear-padded"></div>
{{ end }}

{{ if .Params.frontEncounterContent }}
<div id="front-encounter" class="front-section">
  <div id="front-encounter-title-wrap1"><div id="front-encounter-title-wrap2"><div id="front-encounter-title-wrap3"><div id="front-encounter-title-wrap4"><div id="front-encounter-title"><h2 class="front-section-title"><a href="/tags/eccentric-encounters/" title="Browse all eccentric encounters">Eccentric encounters</a></h2></div></div></div></div></div>

  <div class="front-section-content">
{{ .Params.frontEncounterContent | safeHTML }}
  </div>

  <div class="front-section-bottom"></div>
</div><!-- /#front-encounter -->
{{ end }}

{{ if .Params.frontForsaleContent }}
<div id="front-forsale" class="front-section">
  <div id="front-forsale-title-wrap1"><div id="front-forsale-title-wrap2"><div id="front-forsale-title-wrap3"><div id="front-forsale-title-wrap4"><div id="front-forsale-title"><h2 class="front-section-title"><a href="/tags/for-sale/" title="Browse all items for sale">Intriguing items</a></h2></div></div></div></div></div>

  <div class="front-section-content">
{{ .Params.frontForsaleContent | safeHTML }}
  </div>

  <div class="front-section-bottom"></div>
</div><!-- /#front-forsale -->
{{ end }}

{{ if or .Params.frontEncounterContent .Params.frontForsaleContent }}
<div class="clear"></div>
{{ end }}

{{ end }}
